<html>
    <head>
        <title>Foodfy</title>

        <link rel="stylesheet" href="/main.css">

        {% block public %}
        {% endblock %}

    </head>
    <body>
        <header>
            <a href="/"><img src="/img/logo.png" alt="Foodfy"></a>

            {% block links %}
                <a href="about">Sobre</a>
                <a href="revenue">Receitas</a>
            {% endblock %}
        </header>
        
        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}

    <footer>
        <p><spam>&copy</spam> Todos direitos reservados, receitas Foodfy.</p>
    </footer>    
</body>
</html>