{% extends "main.njk" %}

{% block public %}
    <link rel="stylesheet" href="/page_revenue.css">
{% endblock %}

{% block links %}
    <a href="/about">Sobre</a>
    <a href="/revenue"><b>Receitas<b></a>
{% endblock %}

{% block content %}
    <div class="content">

        <img src="{{item.image}}" alt="{{item.title}}">

        <h1>{{item.title}}</h1>
        <p id="autor">Por {{item.author}}</p>

        <h2>Ingredientes</h2> 

        
        <p class="showhide_btn" id="script">Esconder</p>
        

        <ul class="recipe_showhide">
            {% for ingredient in item.ingredients %}
                <li><spam>{{ingredient}}</spam></li>
            {% endfor%}
        </ul>


        <h2>Modo de preparo</h2>

  
        <p class="showhide_btn" id="script-mid">Esconder</p>
        

        <ul class="recipe_showhide">
            {% for prepare in item.preparation%}
                <li><spam>{{prepare}}</spam></li>
            {% endfor%}
        </ul>
     

        <h2>Informações adicionais</h2> 

        
        <p class="showhide_btn" id="script-bottom">Esconder</p>
        

        <p class="recipe_showhide">{{item.information}}</p>
        
    </div>
{% endblock %}

{% block script %}
    <script src="/script.js"></script>
{% endblock %}
